.onBoard{
  width: 424px;
  height: 534px;
background: #232527;
box-shadow: 7px 8px 52px rgba(0, 0, 0, 0.35);
margin: 60px auto;
margin-bottom: 20px;

}

.onBoard img{
    display: flex;
    margin: auto ;
   padding-top: 43px;
   width: 281px;
   height: 248px;
}

.onBoard h2{
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    width: 30vh;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 39px;
    margin-bottom: 36px;
    transform: all .5s ease;
}

.onbtn{
    background:  #232527;
    border: none;
    color:#FFFFFF;
    display: flex;
    margin: 0 auto;
    padding: 10px 18px 10px 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
 
}

.onbtn i{
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-self: center;
}



.skip{
   display: flex;
   justify-content: center;
   margin: 0;
   
}

.skipLink{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.slide {
    opacity: 0;
    transition: opacity ease-in-out .4s;

  
  }
  .active-anim{
    opacity: 1;
  }


  .container-dot{
     display: flex; 
     flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 90px;
  }
 
  .dot{
    width: 7px;
    height: 7px;
    margin: 0 4px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3.5px;
  }

  .dot-active{
    width: 14px;
    height: 7px;
    background: #FFFFFF;
    border-radius: 3.5px;

  }